.image-container {
  position: relative;
  text-align: center;
}

.image-post{
    width:100%;
}

.tag-image{
    position: absolute;
    bottom: 8px;
    left: 16px;
    background-color: #ff555b;
    color: white;
}