<section id="footer">
    <div class="grid-container grid-footer">
        <div>
            <div>
                <p>
                    Deck <span>.</span>
                </p>
            </div>
            <div>
                <p> 2018 Deck</p>
                <p> Component based UI KIT</p>
            </div>
        </div>
        <div class="grid-container grid-tags">
            <div>
                <a class="link link-tag" href="/">TECHNOLOGY</a>
            </div>
            <div>
                <a class="link link-tag" href="/">LEADERSHIP</a>
            </div>
            <div>
                <a class="link link-tag" href="/">NEWS</a>
            </div>
            <div>
                <a class="link link-tag" href="/">ENTERTAINMENT</a>
            </div>
            <div>
                <a class="link link-tag" href="/">IDEAS</a>
            </div>
            <div>
                <a class="link link-tag" href="/">VIDEO</a>
            </div>
            <div>
                <a class="link link-tag" href="/">FINANCE</a>
            </div>
        </div>
        <div class="grid-container">
            <div>
                <p>Follow us:</p>
            </div>
            <div>
                <input type="text">
            </div>
        </div>
    </div>
</section>